*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar{
    background: teal;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.label{
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    margin: 10px;
}
