.Messenger{
    height: calc(100vh - 50px);
    display: flex;
}
.chat-menu{
    background-color: aliceblue;
    flex: 3.5;
}

.chat-menu-input:focus{
    outline: none;
}

hr{
    margin-top: 1rem;
    background:dodgerblue;
    width: 10px;
    height: 3px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    transition: width 450ms ease-out;
}
.chat-menu-input:hover ~ hr {
    width: 95%;
  }
  
.chat-box{
    flex: 5.5;
}
.chat-box-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-box-top{
    height: 100%;
    overflow-y: scroll;
    background:rgb(253, 241, 243);
    border-radius: 10px;
}
.chat-box-bottom{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    background: rgb(161, 199, 238);
    padding: 10px;
    border-radius: 10px;
}
.chat-online{
    background-color: aliceblue;
}
.chat-online-wrapper{
    display: flex;
    flex-direction: column;
}
.online-heading{
    font-family: sans-serif;
    justify-content: center;
}
.chat-emoji{
    color: black;
    cursor: pointer;
}
.chat-bottom-input{
    width: 80%;
    resize: none;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
.chat-bottom-input:focus{
    outline: none;
}
.chat-send-button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.chat-online{
    flex: 3;
}
.chat-menu-wrapper,.chat-box-wrapper,.chat-online-wrapper{
    padding: 10px;
    height: 100%;
}
.chat-menu-input{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background: rgb(230, 225, 225);
    color: orangered;
    font-weight: 400;
    font-size: 15px;
    transition: all 200ms ease-out;
}
