
.chat-online-friends{
   display: flex;
   align-items: center;
   padding: 10px;
}

.chat-img-container{
    position: relative;
}
.online-friends-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-online-friends-name{
    color: rgb(68, 67, 67);
    font-family: sans-serif;
    font-weight: 40;
    font-size: large;
}
.online-friends-badge{
    position: absolute;
    background: limegreen;
    border-radius: 50%;
    padding: 5px;
    top: 0px;
    right: 7px;
    border: 2px solid white;
}