
.chat-online-friends{
   display: flex;
   align-items: center;
   padding: 10px;
}
.online-friends-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-online-friends-name{
    color: rgb(68, 67, 67);
    font-family: sans-serif;
    font-weight: 40;
    font-size: large;
}